/* WorkExperience.css */

.education {
  background-color: #f9fafb;
  /* Light gray background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.education h2 {
  font-size: 1.875rem;
  /* 30px */
  color: #1f2937;
  /* Gray-800 */
  margin-bottom: 1rem;
  text-align: center;
}

.education img {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.education h3 {
  font-size: 1.25rem;
  /* 20px */
  color: #1f2937;
  /* Gray-800 */
  margin-bottom: 0.5rem;
}

.education h4 {
  font-size: 1.125rem;
  /* 18px */
  color: #374151;
  /* Gray-700 */
  margin-bottom: 0.5rem;
}

.education ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.education li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.education li svg {
  margin-right: 0.5rem;
}

.education div {
  margin-bottom: 1rem;
}