nav {
    background-color: #444;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }

  nav ul li a{
    color: lightblue;
  }

  nav a{
    color: lightblue;
  }
  