/* ContactInfo.css */

.contact-info {
  background-color: #f9fafb;
  /* Light gray background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
  font-size: 1.875rem;
  /* 30px */
  color: #1f2937;
  /* Gray-800 */
  margin-bottom: 1rem;
}

.contact-info p {
  font-size: 1rem;
  /* 16px */
  color: #4b5563;
  /* Gray-600 */
  margin-bottom: 1.5rem;
}

.contact-info a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  /* 16px */
  color: #374151;
  /* Gray-700 */
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #2563eb;
  /* Blue-600 */
}

.contact-info a svg {
  margin-right: 0.5rem;
  transition: transform 0.3s ease;
}

.contact-info a:hover svg {
  transform: scale(1.1);
}