.contact-info {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .contact-info h2 {
    color: #fff;
    background-color: #333;
  }

  /* ContactInfo.css */

  .contact-info p {
    word-wrap: break-word; /* Allow long URLs to wrap */
  }
