#main-header {
    background-color: #1f2937;
    /* Tailwind CSS gray-800 */
    color: white;
    padding: 1.5rem;
    text-align: center;
}

#main-header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

#main-header nav ul li {
    margin: 0 1rem;
}

#main-header nav ul li a {
    color: white;
    text-decoration: none;
}

#main-header nav ul li a:hover {
    text-decoration: underline;
}

@keyframes grow {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-grow {
    animation: grow 1s ease-out forwards;
    opacity: 0;
    /* Ensure text is hidden before animation starts */
}

.delay-1 {
    animation-delay: 0.5s;
}

.delay-2 {
    animation-delay: 1s;
}