/* Section.css */

.section {
  padding: 20px;
  position: relative;
  color: #fff;
  background-color: #f8f8f8;
}

.section h2 {
  color: #fff;
  background-color: #1e293b;
  margin: 0; /* Remove default margin */
}

.section h2 a {
  position: absolute;
  right: 0;
}
